html{
    font-family: sans-serif;
}

.header{
    display : flex;
    background-color: #1F2937;
    color : white;
    height : 50px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
}

.headerLink{
    display : flex;
    flex-direction: row;
    gap : 30px;
    font-size: 18px;
    color : #E5E7Eb;
}

.headerLogo{
    font-size: 24px;
    color : #F9FAF8;
}

* {
    
    box-sizing:  border-box;
    margin : 0;
    padding : 0;
    
}