
* {
    
    box-sizing:  border-box;
    margin : 0;
    padding : 0;
    
    
}
html{
    font-family: Roboto , sans-serif;
}
/* HEADER SECTION*/
.header{
    display : flex;
    background-color: #1F2937;
    color : white;
    height : 50px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
}
.headerLink{
    display : flex;
    flex-direction: row;
    gap : 30px;
    font-size: 18px;
    color : #E5E7Eb;
}
.headerLogo{
    font-size: 24px;
    color : #F9FAF8;
}
/* SECTION TWO */
.sectionTwo{
    display : flex;
    height : 450px;
    background-color: #1F2937;
    color : white;
    justify-content: center;
    align-items: center;
    gap : 30px 30px;
    

}
.leftBox{
    display : flex;
    flex : 0.3;
    flex-direction: column;
    justify-content: center;
    gap: 30px 30px;
}
.rightBox{
    display : flex;
    flex : 0.5;
    height : 250px;
    background-color: gray;
    align-items: center;
    justify-content: center;

    
}
#heroTitle{
    font-size : 48px;
    color : #F9FAF8;
    font-weight: bolder ;
}
#heroDesc{
    font-size : 18px;
    color : #E5E7EB;
    
}
button{
    background-color: #3882F6;
    color : #E5E7EB;
    height : 30px;
    width : 120px;
    border-radius: 10px;
    border : none;
    font-weight: bolder;
    font-size : 14px;
}
/* SECTION THREE */
.sectionThree{
    display : flex;
    height : 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px 10px;
    
}
.top{
    display: flex;
    flex : 0.2;
    align-items: center;
    margin-top: 10px;
    
}
#titleText{
    font-size: 36px;
    font-weight: bolder;
    color : #1F2937;
}
.bottom{
    display : flex;
    flex : 1;
    flex-direction: row;
    gap : 10px 50px;
}
.illustration{
    display : flex;
    align-items: center;
    flex-direction: column;
}
.text{
    width : 150px;
    color : gray;
    margin-top: 10px;
}
.box{
    height : 150px;
    width : 150px;
    border : 5px solid #3882F6; 
    border-radius: 15px;
}
/* SECTION FOUR */
.sectionFour{
    display : flex;
    background-color : #e5e7eb;
    height : 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#qoute{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color : #1f2937;
    width : 750px;

}
#qouteAuthor{
    font-weight: bolder;
    align-self : flex-end;
    margin-top : 25px;
    margin-right: 700px;
}

asd